addDecorator(withScreenshot({
  viewport: [
    {
      width: 320,
      height: 568,
      isMobile: true,
      hasTouch: true,
    },
    {
      width: 1280,
      height: 800,
    },
    {
      width: 1440,
      height: 900,
    },
  ],
}))
